* {
  font-family: poppins, Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #f8f8f8; /* Light background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 100px;
  width: auto;
}

#nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-bar a {
  text-decoration: none;
  color: rgb(180, 136, 24);
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s ease;
  font-size: 20px;
}

#nav-bar a:hover {
  color: #000;
}

.videocontainer {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.formcontainer {
  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1,
h2 {
  color: rgb(180, 136, 24);
}

p {
  max-width: 350px;
}

.info-container {
  margin: 80px 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ph-fill {
  font-size: 50px;
  color: rgb(180, 136, 24);
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 20px;
  }

  .info {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .videocontainer {
    display: none;
  }
}
